// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #9fc124;
$green:                 $brand-primary;
$black:                 #2c2826;
$light-gray:            #eeeeee;
$med-gray:              #959392;
